.subheading {
  font-weight: 600;
}

.date {
  min-width: 18rem;
}

#css17 {
  color: rgb(192,192,190);
  padding-left: 80px; 
  padding-top: 10px; 

}

#cssob{

  padding-top: 10px; 
  padding-bottom: 10px;
  display: block !important ;
  margin-left: 32.5% !important;
  

}
#demo
{
  color: green;
}
#demo1
{
  color: red;
}
nav
{
  margin-bottom: 100px !important;
}
#demo2
{

  font-size: 100px;
  color: red;
  text-decoration: none;
}
ul li
{

  list-style-type: none;
  padding-top: 5px;
}
#experiencess
{

  scroll-margin-top: 50px;
}
#zoznam
{
  text-transform: uppercase;
}



